<div>
  <h1>Solicitud de restablecimiento de contraseña</h1>
  <p>Hola {{ name }},</p>
  <p>Recibimos una solicitud para restablecer tu contraseña. Si no realizaste esta solicitud, puedes ignorar este
    correo.</p>
  <p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
  <a href="{{ resetLink }}">Restablecer contraseña</a>
  <p>Este enlace caducará en 1 hora.</p>
  <p>Si tienes algún problema con el enlace, copia y pega la siguiente URL en tu navegador:</p>
  <p>{{ resetLink }}</p>
  <strong>¡No compartas este enlace con nadie! Podrías perder acceso a tu cuenta y privacidad</strong>
  <p>¡Gracias!</p>
</div>