<div>
  <h1 style="color:hsl(205, 56%, 72%); text-align:center;">¡Bienvenido!</h1>
  <br />
  <div style=" text-align: center; ">
    <img src="cid:banner">
  </div>
  <h2>¡Hola {{user.name}}! Gracias por registrarte con nosotros</h2>
  <p>
    Lamentamos informarle que nuestro sitio se encuentra en construcción, te haremos saber en cuanto esté listo para ser
    usado en su totalidad.
  </p>
</div>