<div>
  <h1>Iniciar sesión</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email">

    <label>Contraseña</label>
    <input type="password" name="password">

    <input type="submit">
    <a href="/register">Registrarse</a>
  </form>
</div>

<script src="/js/login.js" ></script>
