<div>
  <h1>Saludos!, {{name}}</h1>
  <p>Correo: {{user.email}}</p>
  <strong>Rol: {{user.role}} </strong>
  <a href="/carts/{{user.cart}}">Mi carrito</a>
  <h2>Ir a
    <a href="/">productos</a>
  </h2>
  <button id="logout">Cerrar sesion</button>

  <script src="/js/logout.js"></script>
</div>