<div>
  <h1>Registrarse</h1>
  <form id="registerForm">
    <label>Nombre</label>
    <input name="first_name">

    <label>Apellido</label>
    <input name="last_name">

    <label>Email</label>
    <input name="email" type="email">

    <label>Contraseña</label>
    <input type="password" name="password">

    <input type="submit">
    <p>
      Ya tengo una cuenta, 
      <a href="/login">iniciar sesión</a>
    </p>
  </form>
</div>

<script src="/js/register.js" ></script>
