<div>
  <form action="/api/users/reset-password/{{token}}/{{uid}}" method="POST" id="newPasswordForm">
    <label for="newPassword">Nueva contraseña</label>
    <input type="password" name="newPassword" required>

    <label for="confirmPassword">Repite la contraseña</label>
    <input type="password" name="confirmPassword" required>
    <span id="confirmPasswordError"></span>

    <button type="submit" id="submitButton">Cambiar contraseña</button>
  </form>
</div>