<div class="container">
  <div class="card">
    <h1>Correo electrónico de recuperación enviado.</h1>
    <h2>¡Revisa tu bandeja de entrada!</h2>
  </div>
  <a href="/login">Volver al inicio de sesión</a>
</div>