<div>
  <form action="">
    <label for="new-password">Nueva contrase単a</label>
    <input type="password" name="new-password" required>

    <label for="confirm-password">Repite la contrase単a</label>
    <input type="password" name="confirm-password" required>

    <button type="submit" value="Cambiar contrase単a">Cambiar contrase単a</button>
  </form>
</div>