<style>
  .navbar {
    margin: 0 auto;
    max-width: 1130px;
  }
</style>

<nav class="navbar">
  <ul>
    <a href="/" class="logo">Store Name</a>
  </ul>
  <div id="menu-bar" class="fas fa-bars"></div>

  <ul>
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="/profile">Mi perfil</a>
    </li>
    {{#if loggedIn}}
    <li>
      <a href="/login">Iniciar sesión</a>
    </li>
    {{/if}}
  </ul>
</nav>